.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: auto;
}
.button4 {
  background-color: #e7e7e7; 
  color: black;
}

input[type=submit], .btn-cancel {
  font-family: 'Orator Std';
}

.btn-cancel {
  background-color:#f2dede;
}

thead {
  font-family: "Courier New", Courier, monospace;
}

//for theme and design change 

#wrapper {
    padding-left: 0;    
}

.navbar-inverse .navbar-text {
  color: #337ab7;
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}
@media (max-width: 768px){
  .navbar-brand {
   display: none;
  }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }
  .navbar-inverse {
    border-color: #e7e7e7 !important;
    background-color: #f1e9e9  !important;
  }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #337ab7;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    background-color: #131518;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    // background-color: #204d74;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 205px;
        width: 205px;
        margin-left: -205px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 0.5px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #a09494 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 0.5px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    // color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    // color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
    background-color: #204d74;
    height: 60px;
}
.navbar-brand > img {
  width: 175px;
  height: 50px;
}

 .user-mode {
  display: inline-block;
  padding: 3px 15px 2px 20px;
  letter-spacing: 5px;
  background-color:rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.navbar-header{
  height: 22px;
}