<% if current_user %>
  <footer class="footer-copyright text-center py-3">
    <div class="text-center">
    <a href="http://www.softguide.herokuapp.com/">Created By Sgswteam</a>
    </div>
  </footer>
<% end %>